.infrastucture-container {
  background: var(--background-two);

  .infrastructure-wrapper {
    display: flex;
    padding: 32px;
    gap: 32px;
    align-items: center;
    @media (max-width: 650px) {
      flex-direction: column;
      text-align: center;
    }
    .content {
      display: flex;
      flex-direction: column;
      gap: 24px;
      @media (max-width: 650px) {
        text-align: center;
      }
      h2 {
        span {
          font-size: 48px;
          line-height: normal;
          letter-spacing: -1.2px;
          font-family: "Gilroy-Medium";
          font-style: normal;
          font-weight: 600;
          text-transform: lowercase;
          @media (max-width: 700px) {
            font-size: 32px;
            letter-spacing: -1.28px;
          }
        }
      }
    }
  }
}
